.add-reporter-input {
  float: right;
}
.add-reporter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  border-radius: 5px;
  background: hsla(174, 100%, 50%, 0.23);
}

.add-reporter-form {
  padding-left: 0px;
}

.add-reporter-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.reporter-list {
  padding-left: 0px;
  padding-right: 0px;
}

.check-box {
  display: inline;
}

.inline-h {
  display: inline;
}

.list-even {
background: hsla(360, 100%, 100%, 0.5);
}

.list-odd {
}
